@import '~bootstrap/scss/bootstrap';

body {
  color: white;
  background-color: $inheritred;
}

h1 {
  text-align: center;
}

.board-container {
  height: 100%;
  width: 100%
}

.box {
  display: flex;
  justify-content: center;
}
